# Mid-Term Programming Exercise
`jskyzero` `2018/04/23`

In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

%matplotlib inline

In [2]:
FILE_PATH = "D:\\Downloads\\"
SAMPLE_FILE_NAME = "sampleSubmission.csv"
TRAIN_FILE_NAME = "train.csv"
TEST_FILE_NAME = "test_raw.csv"
OUT_FILE_NAME = "out.csv"

sample_submission =  pd.read_csv(FILE_PATH + SAMPLE_FILE_NAME, sep=',')
train = pd.read_csv(FILE_PATH + TRAIN_FILE_NAME, sep = ',', header=None,)
test = pd.read_csv(FILE_PATH + TEST_FILE_NAME, sep = ',',header=None,)

print("submisstion data shape = {}".format(sample_submission.shape))
print("train data shape = {}".format(train.shape))
print("test data shape = {}".format(test.shape))
# sample_submission
# test

submisstion data shape = (7910, 2)
train data shape = (6000, 130)
test data shape = (7910, 129)

In [3]:
X = train.iloc[:,1:-1]
Y = train.iloc[:,-1]
X.head()

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
0,6147.6445,1.287082,1.309475,1.763690,3.267232,-1.135878,-1.541321,-2.513292,4543.1680,1.166722,...,-2.699717,-3.234724,6209.9881,5.561583,1.589754,2.431748,2.835400,-1.443926,-2.258043,-3.129247
1,883.8496,2.523001,0.186115,0.394962,2.387027,-0.082903,-0.330683,-2.731302,60876.4629,5.423102,...,-3.817337,-8.814603,11525.3111,3.443605,2.403361,4.349723,6.591782,-2.081989,-3.238632,-7.368825
2,11735.5126,4.209876,4.000793,7.471036,9.348427,-3.968175,-5.130933,-16.353924,25894.0371,4.366012,...,-7.822309,-13.617445,19056.1772,7.484289,9.028648,16.302558,19.527094,-3.821101,-6.827013,-11.194883
3,5828.2539,1.236785,1.638415,2.281931,3.639547,-1.247796,-1.652973,-2.837284,5353.3750,1.222767,...,-3.761847,-4.299888,7899.9952,7.068495,2.391782,3.918861,4.291086,-1.895875,-2.988525,-3.455212
4,5562.7482,2.634592,1.162989,1.721184,4.260408,-0.869663,-1.435076,-5.948257,6642.7947,2.936455,...,-7.804921,-15.074300,16974.5445,5.724838,8.089948,22.621003,27.819908,-4.038110,-6.388420,-12.422351

In [4]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=3000)
clf.fit(X, Y)
clf.score(X, Y)

1.0

In [5]:
# n = 5000
# clf = RandomForestClassifier(n_estimators=1000)
# clf.fit(X.iloc[0:n, :], Y.iloc[0:n])
# clf.score(X.iloc[n:6001, :], Y.iloc[n:6001])

In [5]:
X_test = test.iloc[:, 1:131]
Y_test = clf.predict(X_test)
Y_test = np.vectorize(lambda x : "cls_" + str(x))(Y_test)
Y_test

array(['cls_1', 'cls_2', 'cls_5', ..., 'cls_1', 'cls_1', 'cls_1'],
      dtype='<U5')

In [6]:
sample_submission.iloc[:] = test.iloc[:, 0:1]
sample_submission.iloc[:, 1:2] = Y_test.reshape(7910,1)
# sample_submission
sample_submission.to_csv(FILE_PATH + OUT_FILE_NAME + "4", sep=',', index=False)